---
import codeTipsTricks from "../../../../assets/codeTipsTricks.png";
---

<main>
	<a href="https://t.me/codeTipsTricks/"
		><img
			src={codeTipsTricks.src}
			width="200"
			height="200"
			alt="Astro Homepage"
		/>
	</a>
	<h1>This is simple astro website with docker</h1>
	<p>
		This site is ready to deploy via docker 🚀
	</p>
</main>

<style>
	body {
		font-family: Inter, Roboto, "Helvetica Neue", "Arial Nova",
			"Nimbus Sans", Arial, sans-serif;
		color: white;
	}

	main {
		height: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		justify-content: center;
		gap: 20px;
		background: linear-gradient(190deg, #000000, #533d6e);
	}

	h1 {
		font-size: 22px;
		margin: 0;
		color: white;
		text-align: center;
	}

	p {
		font-size: 18px;
		color: white;
		text-align: center;
		max-width: 400px;
		margin: 0;
	}
</style>
